# dependencies
node_modules
.pnp
.pnp.js

# build outputs
.next
out
dist
build

# env files
.env
.env.*
!.env.example

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# coverage
coverage

# misc
.DS_Store

# lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
